<aside class="sidebar">
    <div class="sidebar-content">
        <h3>Menu</h3>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/service">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</aside>